repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/adhtruong/mirrors-typos
  # original repo: https://github.com/crate-ci/typos
  # we use mirror repo, because tags in original repo are broken:
  # https://github.com/crate-ci/typos/issues/390
    rev: v1.41.0
    hooks:
      - id: typos

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        args:
          - --preview

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: ruff-show-errors
        args: [ --diff, --exit-non-zero-on-fix ]

      - id: ruff
        name: ruff-auto-fix
        args: [ --fix, --exit-non-zero-on-fix, --show-fixes ]

ci:
  autoupdate_schedule: quarterly
